html, body {
	width: 100%;
	height: 100%;
	margin: 0;
}

html {
	cursor: url(imagens/mata_mosca.png) 30 30, auto;
}

body {
	background-image: url(imagens/bg.jpg);
	background-repeat: no-repeat ;
	background-size: cover;
	background-position: center;
}

.mosquito1 {
	width: 60px;
	height: 60px;
}

.mosquito2 {
	width: 45px;
	height: 45px;
}

.mosquito3 {
	width: 80px;
	height: 80px;
}

.ladoA {
	transform:  scalex(1);
}

.ladoB {
	transform:  scalex(-1);
}

.painel {
	position: absolute;
	width: 190px;
	padding: 10px;
	left: 0px;
	bottom: 0px;
	border-top: solid 1px #fff ;
	background-color: #fff;
	opacity: 0.5;
}

.vidas {
	float: left;
}

.cronometro {
	float: left;
	font-size: 20px;
	font-weight: bold;
}